<% layout("/layouts/boilerplate.ejs"); %>
<body>
   <div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%=value.image%>" class="card-img-top" alt="listing_image" style="height: 15rem; width: 25rem;">
            <div class="card-body">
              <h5 class="card-title"><b><%=value.title%></b></h5>
              <p class="card-text"><%=value.description%>
                <br>
                <br>
                &#8377; <%=value.price.toLocaleString("en-IN")%>/night
                <br>
                <br>
                <%=value.location%>
                <br>
                <br>
                <%=value.country%>
            </p>
            </div>
            <div class="card-body">
                <form method = "get" action="/listings/edit/<%=value._id%>">
                    <button class = "btn btn-outline-primary">edit</button>
                </form>
                <form method = "get" action="/listings">
                    <button class = "btn btn-outline-primary">back</button>
                </form>
            </div>
          </div>
    </div>
   </div>
<form method = "post" action = "/listings/<%=value._id%>?_method=delete">
    <button class = "btn btn-outline-danger">delete</button>
</form>
<div class="col-8 offset-3">
<h4>Send Your Experience</h4>
<form method = "post" novalidate class = "needs-validation" action = "/listings/<%=value._id%>/reviews">
    <div class = "mb-3 mt-3">
        <label for="customRange2" class="form-label">Range</label>
        <input type="range"min="1" max="5" id="customRange2" name = "review[rating]">
    </div>
    <div class = "mb-3 mt-3">
        <label for = "comment" class = "form-label">Comment</label>
        <br>
        <textarea name = "review[comment]" id = "comment" rows = "5" cols = "10" class="form-control" required></textarea>
        <div class = "valid-feedback">Thanks For Response</div>
        <div class = "invalid-feedback">Please Explain Your Response</div>
    </div>
    <div>
        <button class = "btn btn-outline-dark">Submit</button>
    </div>
</form>
</div>
<hr>
<h4>All Reviews</h4>
<div class="row">
    <div class="col-md-6 col-lg-12 reviewcol">
        <%for(let review of value.reviews){%>
            <div class="card mt-3" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Rahul</li>
                  <li class="list-group-item"><%=review.comment%></li>
                  <li class="list-group-item"><%=review.rating%></li>
                </ul>
                <form method = "post" action="/listings/<%=value._id%>/reviews/<%=review._id%>?_method=delete">
                    <button class = "btn btn-danger mt-2">
                        delete
                    </button>
                  </form>
              </div>
            
            <%}%>
    </div>  
    </div>
<br>
<br>
</body>

